.list {
  list-style: none;
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.list > li {
  display: flex;
  justify-content: space-between;
  width: 200px;

}
.list > li > a {
  text-decoration: none;
}
.deleteBtn {
  margin-left: 20px;
}
.formInput {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100px;
  justify-content: space-between;
}
.formInput > input {
  width: 45%;
  height: 25px;
}
.formInput > textarea {
  height: 100%;
}

.editBtn{
  background-image: url('../img/edit.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  background-color: none;
}