.list {
  list-style: none;
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.list > li {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.list > li > a {
  text-decoration: none;
}
.deleteBtn {
  margin-left: 20px;
}
