.list {
  list-style: none;
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.list > li {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.list > li > a {
  text-decoration: none;
}
.deleteBtn {
  margin-left: 20px;
  border-radius: 50%;
  background: transparent;
  border: none;
  font-size: 16px;
  font-weight: bold;
  height: 100%;
  transition: 200ms;
}
.deleteBtn:hover {
  transition: 200ms;
  transform: rotatez(135deg);
  cursor: pointer;
}
.formInput {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100px;
  justify-content: space-between;
}
.formInput > input {
  width: 45%;
  height: 25px;
}
.formInput > textarea {
  height: 100%;
}
.mapContainer {
  max-width: 700px;
}
